@import './base';

.block-content {
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;

	width: 80%;
	height: 80%;
	margin: 0 auto;

	&__element {
		width: 200px;
		height: 200px;

		border-radius: 4px;
		background: #9dc0c3;
		box-shadow: 0 0 21px 3px #1b3738;
	}
}
